<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Rekomendasi Penanaman Bibit Pertanian</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container contact-form">
      <div class="contact-image">
        <img
          src="{{ url_for('static', filename='C:\\Users\\del\\Documents\\Data science\\Klasifikasi-Agri\\Rekomendasi Penanaman Bibit\\icon.png') }}"
          alt="rocket_contact"
        />
      </div>
      <form action="{{url_for('predict')}}" method="post">
        <h3>Rekomendasi Penanaman Bibit Pertanian</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="N"
                class="form-control"
                placeholder="N"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="P"
                class="form-control"
                placeholder="P"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="K"
                class="form-control"
                placeholder="K"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="temperature"
                class="form-control"
                placeholder="temperature"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="humidity"
                class="form-control"
                placeholder="humidity"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="ph"
                class="form-control"
                placeholder="ph"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="rainfall"
                class="form-control"
                placeholder="rainfall"
                required="required"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">
              Uji
            </button>
          </div>
          <div class="col-md-6">
            <h3>Hasil Rekomendasi : </h3>
            <h3>{{ prediction_text }}</h3>
          </div>
        </div>
      </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
